<%@post = post %>
<p id="notice"><%= notice %></p>

<div class="form-group">
  <strong>Title:</strong>
  <%= @post.title %>
</div>

<div class="form-group">
  <strong>Text:</strong>
  <%= @post.text %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', {controller: "users", action: "show"} %> |
<%= link_to 'New Post', new_post_path %>
