<%posts.each do |post|%>

  <div class="form-group">
    <strong>Post By:</strong>
    <%= post.user.username %>
  </div>

  <div class="form-group">
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div class="form-group">
    <strong>Text:</strong>
    <%= post.text %>
  </div>

  <%= render partial: 'partials/show_comment',locals: {comments: post.comments} %>
  <%= render partial: 'partials/comment', locals: {post: post} %>
  <%= link_to 'Edit', edit_post_path(post) %> |
  <%= link_to 'Back', {controller: "users", action: "show"} %> |
  <%= link_to 'New Post', new_post_path %>

<% end %>