<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <%= link_to 'SharingWay', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <!--<li><%= link_to 'Profile', users_show_path()%></li>-->
          <li><%= link_to 'Edit Profile', edit_user_registration_path%></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Create Post', {controller: "posts", action: "new"} %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
        <div class="form-group">
          <%= form_tag(search_path, :method => "get") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Friends" %>
            <%= submit_tag "Search Friends", class: "ses_submit_btn" %>
            <%#= submit_tag 'Go', class: "ses_submit_btn", :onclick => "addCookie()", id: 'testing2'%>
          <% end %>
        </div>
    </div>
  </nav>
  <div class="row" style="background: cornsilk">

    <div class="col-lg-3">
      <div style="background-color: #999999" class="text-center">
          <% if user_signed_in? %>
            <h2>User Profile</h2>
            <div>
              <strong>UserName:</strong>
              <%= @user.username %>
            </div>

            <div >
              <strong>Email:</strong>
              <%= @user.email %>
            </div>
      </div>

      <div style="background-color: aqua" class="text-center">
          <h3>FriendRequests By Me</h3>
          <%= render partial: 'partials/show_sent_requests', locals: {sent_requests: FriendRequest.sent_requests(current_user)} %>
      </div>

      <% else %>
        <div class="form-group">Please SignIn</div>
      <% end %>
    </div>

    <div class="col-lg-6", style="background-color: #DADADA">
      <% if user_signed_in? %>
        <h2>Posts</h2>
        <%= render partial: 'partials/show_post', locals: {posts: @user.all_posts} %>
      <% else %>
        <div class="form-group">Please SignIn</div>
      <% end %>
    </div>

    <div class="col-lg-3">

      <div style="background-color: #999999" class="text-center">
      <% if user_signed_in? %>
        <h2>FriendRequsts</h2>
        <%= render partial: 'partials/show_friend_requests', locals: {friend_requests: FriendRequest.pending_requests(current_user)} %>
      </div>

      <div style="background-color: aqua" class="text-center">
        <h3>Friends</h3>
        <%= render partial: 'partials/all_friends', locals: {friends: current_user.friends} %>
      </div>

      <% else %>
        <div class="form-group">Please SignIn</div>
      <% end %>
    </div>
  </div>
</div>




