<p id="notice"><%= notice %></p>

<h1>Friend Ships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_ships.each do |friend_ship| %>
      <tr>
        <td><%= friend_ship.user_id %></td>
        <td><%= friend_ship.friend_id %></td>
        <td><%= link_to 'Show', friend_ship %></td>
        <td><%= link_to 'Edit', edit_friend_ship_path(friend_ship) %></td>
        <td><%= link_to 'Destroy', friend_ship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend Ship', new_friend_ship_path %>
